/**
* Template page d'acceuil
**/

.titre{
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    color: orangered;
    margin-top: 30px;
    margin-bottom: 15px;
}

#nouvPartie{
    width: 100%;
    &__pseudo{
        text-align: center;
        input{
            padding: 5px;
        }
    }
    &__difficulte{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;  
        
        a{
            background-color: orange;
            color: white;
            font-weight: bold;
            text-decoration: none;
            margin-bottom: 20px;
            border-radius: 50%;
            div{
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;
            }

            &:hover{
                background-color: orangered;
            }
        }
    }
}

#score{
    &__tab{
        display: flex;
        justify-content: center;
        table{
            border-spacing: 0;
            width: 100%;
            max-width: 800px;
            text-align: center;
            thead{
                font-weight: bold;
                td{
                    border-bottom: 2px solid black;
                }
            }
            td{
                padding: 10px 0;
            }
        }
    }
    
    
}