/***** Polices *****/
//Utilisation de googlefont pour charger les polices pour permettre d'être quasi sur que la police soit lu par le navigateur + simple à mettre en place
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Kaushan+Script&family=Lato:ital,wght@0,300;0,400;1,300&display=swap');
/***** VARIABLES *****/



/***** ANIMATIONS *****/
@keyframes rotation {
    from{
        transform: rotate3d(0);
    }
    to{
        transform: rotate3d(0, -1, 0, 180deg);
    }
}


@keyframes rotation2 {
    from{
        transform: rotate3d(0, -1, 0, 180deg);
    }
    to{
        transform: rotate3d(0);
    }
}

