#carte-11 {
  background-image: url("../images/cartes.png");
  background-position: 0 100px;
  width: 100px;
  height: 100px;
}

#carte-21 {
  background-image: url("../images/cartes.png");
  background-position: 0 100px;
  width: 100px;
  height: 100px;
}

#carte-12 {
  background-image: url("../images/cartes.png");
  background-position: 0 200px;
  width: 100px;
  height: 100px;
}

#carte-22 {
  background-image: url("../images/cartes.png");
  background-position: 0 200px;
  width: 100px;
  height: 100px;
}

#carte-13 {
  background-image: url("../images/cartes.png");
  background-position: 0 300px;
  width: 100px;
  height: 100px;
}

#carte-23 {
  background-image: url("../images/cartes.png");
  background-position: 0 300px;
  width: 100px;
  height: 100px;
}

#carte-14 {
  background-image: url("../images/cartes.png");
  background-position: 0 400px;
  width: 100px;
  height: 100px;
}

#carte-24 {
  background-image: url("../images/cartes.png");
  background-position: 0 400px;
  width: 100px;
  height: 100px;
}

#carte-15 {
  background-image: url("../images/cartes.png");
  background-position: 0 500px;
  width: 100px;
  height: 100px;
}

#carte-25 {
  background-image: url("../images/cartes.png");
  background-position: 0 500px;
  width: 100px;
  height: 100px;
}

#carte-16 {
  background-image: url("../images/cartes.png");
  background-position: 0 600px;
  width: 100px;
  height: 100px;
}

#carte-26 {
  background-image: url("../images/cartes.png");
  background-position: 0 600px;
  width: 100px;
  height: 100px;
}

#carte-17 {
  background-image: url("../images/cartes.png");
  background-position: 0 700px;
  width: 100px;
  height: 100px;
}

#carte-27 {
  background-image: url("../images/cartes.png");
  background-position: 0 700px;
  width: 100px;
  height: 100px;
}

#carte-18 {
  background-image: url("../images/cartes.png");
  background-position: 0 800px;
  width: 100px;
  height: 100px;
}

#carte-28 {
  background-image: url("../images/cartes.png");
  background-position: 0 800px;
  width: 100px;
  height: 100px;
}

#carte-19 {
  background-image: url("../images/cartes.png");
  background-position: 0 900px;
  width: 100px;
  height: 100px;
}

#carte-29 {
  background-image: url("../images/cartes.png");
  background-position: 0 900px;
  width: 100px;
  height: 100px;
}

#carte-110 {
  background-image: url("../images/cartes.png");
  background-position: 0 1000px;
  width: 100px;
  height: 100px;
}

#carte-210 {
  background-image: url("../images/cartes.png");
  background-position: 0 1000px;
  width: 100px;
  height: 100px;
}

#carte-111 {
  background-image: url("../images/cartes.png");
  background-position: 0 1100px;
  width: 100px;
  height: 100px;
}

#carte-211 {
  background-image: url("../images/cartes.png");
  background-position: 0 1100px;
  width: 100px;
  height: 100px;
}

#carte-112 {
  background-image: url("../images/cartes.png");
  background-position: 0 1200px;
  width: 100px;
  height: 100px;
}

#carte-212 {
  background-image: url("../images/cartes.png");
  background-position: 0 1200px;
  width: 100px;
  height: 100px;
}

#carte-113 {
  background-image: url("../images/cartes.png");
  background-position: 0 1300px;
  width: 100px;
  height: 100px;
}

#carte-213 {
  background-image: url("../images/cartes.png");
  background-position: 0 1300px;
  width: 100px;
  height: 100px;
}

#carte-114 {
  background-image: url("../images/cartes.png");
  background-position: 0 1400px;
  width: 100px;
  height: 100px;
}

#carte-214 {
  background-image: url("../images/cartes.png");
  background-position: 0 1400px;
  width: 100px;
  height: 100px;
}

#carte-115 {
  background-image: url("../images/cartes.png");
  background-position: 0 1500px;
  width: 100px;
  height: 100px;
}

#carte-215 {
  background-image: url("../images/cartes.png");
  background-position: 0 1500px;
  width: 100px;
  height: 100px;
}

#carte-116 {
  background-image: url("../images/cartes.png");
  background-position: 0 1600px;
  width: 100px;
  height: 100px;
}

#carte-216 {
  background-image: url("../images/cartes.png");
  background-position: 0 1600px;
  width: 100px;
  height: 100px;
}

#carte-117 {
  background-image: url("../images/cartes.png");
  background-position: 0 1700px;
  width: 100px;
  height: 100px;
}

#carte-217 {
  background-image: url("../images/cartes.png");
  background-position: 0 1700px;
  width: 100px;
  height: 100px;
}

#carte-118 {
  background-image: url("../images/cartes.png");
  background-position: 0 1800px;
  width: 100px;
  height: 100px;
}

#carte-218 {
  background-image: url("../images/cartes.png");
  background-position: 0 1800px;
  width: 100px;
  height: 100px;
}

#cartes {
  display: flex;
  flex-wrap: wrap;
}

/*# sourceMappingURL=style.css.map */
