/***** Polices *****/
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lato:ital,wght@0,300;0,400;1,300&display=swap");
/***** VARIABLES *****/
/***** ANIMATIONS *****/
@keyframes rotation {
  from {
    transform: rotate3d(0);
  }
  to {
    transform: rotate3d(0, -1, 0, 180deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate3d(0, -1, 0, 180deg);
  }
  to {
    transform: rotate3d(0);
  }
}
#carte-11 {
  background-image: url("../images/cartes.png");
  background-position: 0 100px;
}

#carte-21 {
  background-image: url("../images/cartes.png");
  background-position: 0 100px;
}

#carte-12 {
  background-image: url("../images/cartes.png");
  background-position: 0 200px;
}

#carte-22 {
  background-image: url("../images/cartes.png");
  background-position: 0 200px;
}

#carte-13 {
  background-image: url("../images/cartes.png");
  background-position: 0 300px;
}

#carte-23 {
  background-image: url("../images/cartes.png");
  background-position: 0 300px;
}

#carte-14 {
  background-image: url("../images/cartes.png");
  background-position: 0 400px;
}

#carte-24 {
  background-image: url("../images/cartes.png");
  background-position: 0 400px;
}

#carte-15 {
  background-image: url("../images/cartes.png");
  background-position: 0 500px;
}

#carte-25 {
  background-image: url("../images/cartes.png");
  background-position: 0 500px;
}

#carte-16 {
  background-image: url("../images/cartes.png");
  background-position: 0 600px;
}

#carte-26 {
  background-image: url("../images/cartes.png");
  background-position: 0 600px;
}

#carte-17 {
  background-image: url("../images/cartes.png");
  background-position: 0 700px;
}

#carte-27 {
  background-image: url("../images/cartes.png");
  background-position: 0 700px;
}

#carte-18 {
  background-image: url("../images/cartes.png");
  background-position: 0 800px;
}

#carte-28 {
  background-image: url("../images/cartes.png");
  background-position: 0 800px;
}

#carte-19 {
  background-image: url("../images/cartes.png");
  background-position: 0 900px;
}

#carte-29 {
  background-image: url("../images/cartes.png");
  background-position: 0 900px;
}

#carte-110 {
  background-image: url("../images/cartes.png");
  background-position: 0 1000px;
}

#carte-210 {
  background-image: url("../images/cartes.png");
  background-position: 0 1000px;
}

#carte-111 {
  background-image: url("../images/cartes.png");
  background-position: 0 1100px;
}

#carte-211 {
  background-image: url("../images/cartes.png");
  background-position: 0 1100px;
}

#carte-112 {
  background-image: url("../images/cartes.png");
  background-position: 0 1200px;
}

#carte-212 {
  background-image: url("../images/cartes.png");
  background-position: 0 1200px;
}

#carte-113 {
  background-image: url("../images/cartes.png");
  background-position: 0 1300px;
}

#carte-213 {
  background-image: url("../images/cartes.png");
  background-position: 0 1300px;
}

#carte-114 {
  background-image: url("../images/cartes.png");
  background-position: 0 1400px;
}

#carte-214 {
  background-image: url("../images/cartes.png");
  background-position: 0 1400px;
}

#carte-115 {
  background-image: url("../images/cartes.png");
  background-position: 0 1500px;
}

#carte-215 {
  background-image: url("../images/cartes.png");
  background-position: 0 1500px;
}

#carte-116 {
  background-image: url("../images/cartes.png");
  background-position: 0 1600px;
}

#carte-216 {
  background-image: url("../images/cartes.png");
  background-position: 0 1600px;
}

#carte-117 {
  background-image: url("../images/cartes.png");
  background-position: 0 1700px;
}

#carte-217 {
  background-image: url("../images/cartes.png");
  background-position: 0 1700px;
}

#carte-118 {
  background-image: url("../images/cartes.png");
  background-position: 0 1800px;
}

#carte-218 {
  background-image: url("../images/cartes.png");
  background-position: 0 1800px;
}

.carte {
  width: 100px;
  height: 100px;
  margin: 15px;
  transform-style: preserve-3d;
}
.carte-recto {
  background-color: orange;
  backface-visibility: hidden;
}
.carte-recto:hover {
  background-color: orangered;
  cursor: pointer;
}
.carte-recto, .carte-verso {
  width: 100%;
  height: 100%;
  position: absolute;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

#cartes {
  display: flex;
  flex-wrap: wrap;
}

.rotate-recto {
  animation: rotation 0.3s forwards;
}

.rotate-verso {
  animation: rotation2 0.3s forwards;
}

#chronos {
  width: 100%;
}
#chronos__progressbar {
  height: 10px;
  background-color: orange;
}

/*# sourceMappingURL=style.css.map */
